@font-face {
    font-family: 'stencil_cargo_armyregular';
    src: url('../fonts/stencil-cargo-army.woff2') format('woff2'),
        url('../fonts/stencil-cargo-army.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_armalite';
	src: url('../fonts/armalite-rifle.eot');
	src: local('☺'), url('../fonts/armalite-rifle.woff') format('woff'), url('../fonts/armalite-rifle.ttf') format('truetype'), url('../fonts/armalite-rifle.svg') format('svg');
	font-weight: normal;
	font-style: normal;    
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
    