.bottomLine {
  height: 70px;
  padding: 10px;
}

.costLabel {
  color: #2e4243;
  float: left;
  font-size: 40px;
  text-transform: uppercase;
}

.costValue {
  color: #897c2a;
  float: left;
  font-size: 40px;
  text-align: right;
  width: 10%;
}

.creditLabel {
  color: #2e4243;
  float: left;
  font-size: 40px;
  margin-left: 15%;
  text-transform: uppercase;
}

.creditValue {
  color: #897c2a;
  float: left;
  font-size: 40px;
  text-align: right;
  width: 10%;
}

.exitLabel {
  color: #2e4243;
  cursor: pointer;
  float: right;
  font-size: 40px;
  text-transform: uppercase;
}

.selected {
  background-color: #ee0;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}