.detailsAmmunitionInner p {
  padding-left: 25px;
  padding-right: 25px;
  text-align: initial;
}

.detailsAmmunitionInner table {
  padding-left: 25px;
  padding-right: 25px;
  text-align: initial;
}

.detailsAmmunitionValue {
  padding-left: 20px;
}
