div.details-grenade-inner p {
  padding-left: 25px;
  padding-right: 25px;
  text-align: initial;
}

div.details-grenade-inner table {
  padding-left: 25px;
  padding-right: 25px;
  text-align: initial;
}

td.details-grenade-spacer {
  width: 100px;
}

td.details-grenade-value {
  padding-left: 20px;
}
