.detailsWeaponInner p {
  padding-left: 25px;
  padding-right: 25px;
  text-align: initial;
}

.detailsWeaponInner table {
  margin: 35px auto;
  text-align: initial;
}

.detailsWeaponSpacer {
  width: 100px;
}

.detailsWeaponValue {
  padding-left: 20px;
}
