.detailsGrenadeInner p {
  padding-left: 25px;
  padding-right: 25px;
  text-align: initial;
}

.detailsGrenadeInner table {
  margin: 35px auto;
  text-align: initial;
}

.detailsGrenadeSpacer {
  width: 100px;
}

.detailsGrenadeValue {
  padding-left: 20px;
}
