.itemGrenade .itemGrenadeImage {
  background-color: black;
  border: 3px solid black;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.itemGrenade.selected .itemGrenadeImage {
  border: 3px solid #ee0;
}
