div.item-weapon img {
  background-color: black;
  border-radius: 30px;
  width: 100%;
}

div.item-weapon:hover img {
  background-color: #34bd5b;
  cursor: pointer;
}

div.item-weapon img.compatible {
  background-color: #ffee93;
}

div.item-weapon svg {
  float: right;
  height: 24px;
  margin-right: 10px;
  margin-top: -36px;
  pointer-events: none;
  position: relative;
  width: 24px;
}

div.item-weapon svg path {
  fill: black;
}

div.item-weapon:hover svg path {
  fill: #34bd5b;
}

div.item-weapon svg.compatible path {
  fill: #ffee93;
}

div.item-weapon svg.purchased path {
  fill: #34bd5b;
}

div.item-weapon svg.compatible.purchased path {
  fill: black;
}

div.item-weapon:hover svg.purchased path {
  fill: black;
}
