.itemAmmunition img.itemAmmunitionImage {
  background-color: black;
  border: 3px solid black;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.itemAmmunition.selected img.itemAmmunitionImage {
  border: 3px solid #ee0;
}

