.itemWeapon img {
  background-color: black;
  border: 3px solid black;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.itemWeapon.selected img {
  border: 3px solid #ee0;
}

.itemWeapon svg {
  float: right;
  height: 24px;
  margin-right: 10px;
  margin-top: -36px;
  pointer-events: none;
  position: relative;
  width: 24px;
}

.itemWeapon svg path {
  fill: black;
}

.itemWeapon svg.purchased path {
  fill: #34bd5b;
}

