div.shop-screen {
    background-color: black;    
    display: flex;
    flex-direction: column;   
    height: 100%;
}

div.shop-screen div.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px 1px;    
}

div.shop-screen div.details {
    background-color: violet;
    flex-shrink: 100000;
    height: 100%;
    overflow-y: auto;
}

div.shop-screen div.bottom-line {
    background-color: yellow;
    height: 50px;
}