.screen {
  background-color: black;
  display: grid;
  grid-template-rows: 1fr 70px;
  height: 100%;
}

.catalog {
  background-image: url(/images/backgrounds/wildtextures-black-scratched-plate.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px 5px;
  overflow-block: auto;
  padding: 3px;
  scrollbar-color: #ee0 black;
  scrollbar-width: thin;
}

.details {
  color: #0a88e6;
  flex-shrink: 100000;
  height: 100%;
  overflow-y: auto;
}

.modalVisible {
  display: block;
}

.wide {
  max-width: 70%;
}

.inPossession {
  color: #897c2a;
  float: left;
  font-size: 20px;
  padding: 5px 0;
}

.notInPossession {
  display: none;
}

.dialogHeader {
  background-color: darkslategray;
}

.dialogFooter {
  background-color: darkslategray;
  display: initial;
}

.modalButton {
  background-color: black;
  border: 3px solid black;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: initial;
  float: right;
  font-size: 16px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.modalButtonSelected {
  background-color: black;
  border: 3px solid #ee0;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: initial;
  float: right;
  font-size: 16px;
  padding: 5px 10px;
  text-transform: uppercase;
}