div.shop-screen {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.shop-screen div.catalog {
  background-image: url(/images/backgrounds/wildtextures-black-scratched-plate.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3px 3px;
  padding: 3px;
}

div.shop-screen div.details {
  color: #0a88e6;
  flex-shrink: 100000;
  height: 100%;
  overflow-y: auto;
}