.screen {
    background-image: url("/images/backgrounds/default-background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.button {
    min-width: 10vw;
}