div.start-screen {
    background-color: black;    
    height: 100%;
}

div.start-screen div.space-0 {
    height: 20%;
    width: 100%;
}

div.start-screen h1 {
    color: #ca5512;
    font-size: 32px;
    margin-top: 0;
}

div.start-screen div.space-1 {
    height: 0%;
    width: 100%;
}

div.start-screen p.copyright {
    color: #fbe356;
    font-size: 32px;
}

div.start-screen div.space-2 {
    height: 5%;
    width: 100%;
}

div.start-screen p.inspired-by {
    color: #12a45d;
    font-size: 32px;
    text-transform: uppercase;
}