.playerInfo {
  background-image: url(/images/backgrounds/1011.png);
  height: 100%;
}

.playerPortrait {
  border: 5px solid black;
  border-radius: 15px;
  margin-top: 25px;
  max-height: 25%;
  max-width: 80%;
}

.scoreContainer {
  background-color: black;
  border-radius: 15px;
  height: 48px;
  margin-left: 10%;
  margin-top: 8px;
  padding: 1px;
  width: 80%;
}

.scoreContainer h2 {
  color: #fbe356;
  font-size: 40px;
  margin-top: 8px;
}

.weaponContainer {
  background-image: url(/images/backgrounds/weapon_bg.jpg);
  background-size: cover;
  border: 5px solid black;
  border-radius: 15px;
  margin-left: calc(10% - 5px);
  margin-top: 50px;
  max-height: 35%;
  max-width: 80%;
}

.selectedWeapon {
  max-height: calc(100% - 48px);
  max-width: 80%;
}

.weaponContainer h2 {
  color: black;
  font-size: 40px;
  margin-top: 8px;
}

.livesContainer {
  background-color: black;
  border-radius: 15px;
  height: 10%;
  margin-left: 10%;
  margin-top: 30px;
  max-height: 25%;
  max-width: 80%;
  width: 80%;
}

.livesContainer img {
  max-height: 80%;
  max-width: 25%;
  margin-top: 8px;
}
