h1.controllers {
  color: #ee0;
  font-size: 32px;
  margin-top: 0;
  text-transform: uppercase;
}

.icon path {
  fill: #ee0;
}

div.spacer {
  height: 40px;
}

h1.players {
  color: white;
  font-size: 32px;
  margin-top: 0;
  text-transform: uppercase;
}
