div.user-input h1.controllers {
  color: #ee0;
  font-size: 32px;
  margin-top: 0;
  text-transform: uppercase;
}

div.user-input svg path {
  fill: #ee0;
}

div.user-input div.spacer {
  height: 40px;
}

div.user-input h1.number-of-players {
  color: white;
  font-size: 32px;
  margin-top: 0;
  text-transform: uppercase;
}
