.itemWeapon img {
  background-color: black;
  border-radius: 30px;
  width: 100%;
}

.itemWeapon:hover img {
  background-color: #34bd5b;
  cursor: pointer;
}

.itemWeapon img.compatible {
  background-color: #ffee93;
}

.itemWeapon svg {
  float: right;
  height: 24px;
  margin-right: 10px;
  margin-top: -36px;
  pointer-events: none;
  position: relative;
  width: 24px;
}

.itemWeapon svg path {
  fill: black;
}

.itemWeapon:hover svg path {
  fill: #34bd5b;
}

.itemWeapon svg.compatible path {
  fill: #ffee93;
}

.itemWeapon svg.purchased path {
  fill: #34bd5b;
}

.itemWeapon svg.compatible.purchased path {
  fill: black;
}

.itemWeapon:hover svg.purchased path {
  fill: black;
}
