.missionBriefingEmpty {
  height: 100%;
}

.missionBriefingEmpty .space0 {
  height: 30%;
  width: 100%;
}

.missionBriefingEmpty h1 {
  color: #bb9f84;
  text-transform: uppercase;
}

.missionBriefingSelected {
  display: flex;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.missionBriefingSelected img {
  border: 5px solid #caba04;
  border-radius: 30px;
  float: left;
  height: 75%;
  margin-top: 20px;
}

.missionBriefingSelected p {
  color: #caba04;
  font-size: 32px;
  margin-left: 30px;
  text-align: initial;
}
