.screen {
  background-color: black;
  height: 100%;
}

.briefingContainer {
  height: 25%;
  width: 100%;
}

.worldMapContainer {
  height: 75%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.locationContainer {
  cursor: pointer;
  height: 22px;
  position: absolute;
  width: 22px;
  z-index: 250;
}

.gamepadLocationMarker {
  height: 48px;
  position: absolute;
  stroke: orange;
  width: 48px;
  z-index: 200;
}

.locationMarker {
  height: 18px;
  position: absolute;
  width: 18px;
  z-index: 100;
}
